#home {
  background-image: url('/assets/images/bg3.jpg');
  background-size: cover;
  background-position: center;
}

.container {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  color: white;
  /* height: 90vh; */
}

.weather-widget{
  width: 270px;
  padding: 10px 20px;
  background-color: rgba(0,0,0,0.8);
}

.recommend-text{
  font-size: 12px;
  cursor: pointer;
}
