<div class="modal-header">
  <h4 class="modal-title">Set Location</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <div class="col-12 my-2">
    <button
      type="button"
      class="btn btn-primary me-3"
      (click)="trackUserLocation()"
      [disabled]="!isUserLocationAllowed"
    >
      Track me
    </button>
    <button type="button" class="btn btn-secondary" (click)="showMap()">
      Choose on map
    </button>
  </div>
  <ng-container *ngIf="isChooseonMap">
    <div class="mx-2 my-3 p-0">
      <app-google-map [lat]="16.855863" [lng]="96.134881"></app-google-map>
    </div>
  </ng-container>
</div>
<div class="modal-footer">
  <div class="d-flex justify-content-end" *ngIf="isChooseonMap">
    <button type="button" class="btn btn-primary" (click)="searchLocations()">
      Search this area
    </button>
  </div>
</div>
