<!-- Nav bar -->
<div class="col-12 d-flex banner nav-bg" role="banner">
  <div class="col-8 px-2">
    <img width="80" alt="Geo Guide Logo" src="../assets/images/logo.png" />
    <h5 class="text-white float-left d-inline">Geo Guide</h5>
  </div>
  <!-- <div class="spacer"></div> -->
  <div class="col-4">
    <div class="location-container">
      <button class="btn btn-outline-primary mb-2 me-2" (click)="openLocationModal()">
        <i class="fas fa-map mx-2"></i>Set Location</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>


