<div class="container">
  <div class="row my-4">
    <div class="col-lg-6 col-md-12 col-sm-12 mt-4">
      <div class="card detail-info-container">
        <div class="container px-5 py-4">
          <div class="content-header">
            <div class="d-flex justify-content-between">
              <h2>{{ detailInfo?.name }}</h2>
              <span
                class="m-1"
                [ngStyle]="{
                  color: detailInfo?.open_now ? '#2ccf6d' : 'gray'
                }"
                style="font-size: 14px"
                ><i class="fa fa-clock me-2"></i>
                {{ detailInfo?.open_now ? "Open Now" : "Close" }}</span
              >
            </div>
            <p>{{ detailInfo?.address }}</p>
          </div>
          <hr />
          <div>
            <h4>Opening Hours</h4>
            <ng-container *ngIf="detailInfo?.open_hours?.length == 0"
              ><span>-</span></ng-container
            >
            <ng-container *ngFor="let hour of detailInfo?.open_hours">
              <span>{{ hour }}</span
              ><br />
            </ng-container>
            <br />
            <h4>Contact Number</h4>
            <p>{{ detailInfo?.phoneNo }}</p>
            <div class="d-flex justify-content-between">
              <div>
                <h4>Rating</h4>
                <p>{{ detailInfo?.rating + "/5" }}</p>
              </div>
              <div class="d-flex align-items-center">
              <button class="btn btn-outline-success" style="cursor: none">
                <i class="fas fa-car pe-2"></i> {{ this.estimateTime }}
              </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="col-lg-6 col-md-12 col-sm-12 mt-4"
      *ngIf="this.detailInfo?.lat_lng"
    >
      <app-google-map
        [lat]="this.detailInfo?.lat_lng.lat"
        [lng]="this.detailInfo?.lat_lng.lng"
        [zoomPixel]="18"
        [showRoute]="true"
        (estimateTimeEvent)="getEstimateDuration($event)"
      ></app-google-map>
    </div>
  </div>
</div>
<div class="container">
  <hr>
</div>
<div *ngIf="relatedLocations.length > 0" class="mx-3 my-4">
<div class="container">
    <div class="row mt-2">
    <h2>You may also like: </h2>
  </div>
  <div class="row scrolling-wrapper-flexbox">
    <ng-container *ngFor="let location of relatedLocations">
      <div class="col-4 mx-3 my-2 p-1">
        <div class="centered-content">
          <mat-card class="recommend-card card related-locations-card">
            <mat-card-header>
              <mat-card-title>{{ location.name }}</mat-card-title>
              <mat-card-subtitle>
                <span *ngFor="let star of getRatingStars(location.rating)">
                  <span class="star" *ngIf="star == true">★</span>
                  <span class="star half" *ngIf="star === 0.5"></span>
                  <span class="star" *ngIf="star == false">☆</span>
                </span>
              </mat-card-subtitle>
              <br />
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
              <br />
              <div class="d-flex">
                <div class="first">
                  <i class="fas fa-map-marker-alt" style="font-size: 20px"></i>
                </div>
                <div class="second">
                  <p>{{ location.vicinity }}</p>
                </div>
                <br />
              </div>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-content>
              <br />
              <div class="d-flex">
                <div class="first">
                  <i class="far fa-clock" style="font-size: 24px"></i>
                </div>
                <div class="second">
                  <p>{{ location.open_now ? "Open Now" : "Close" }}</p>
                </div>
                <br />
              </div>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions class="button-container p-1">
              <button
                class="btn btn-outline-primary"
                color="blue"
                style="font-size: 20px"
                (click)="checkDetail(location.place_id)"
              >
                Details
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </ng-container>
  </div>
</div>
</div>
