.recommend-card {
  color: blue;
  background-color: rgba(255, 255, 255, 0.932);
  padding: 15px;
  width: 450px;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-mdc-card-header {
  display:flex;
  padding:16px 16px;
}

mat-card-subtitle {
  color: blue; /* Change this to whatever color you want */
}

/* Button */
.button-container {
  justify-content: right;
  color: blue;
}

/* Rating */
.star {
  font-size: 24px;
  color: gold;
}

.half::before {
  content: "★";
  position: absolute;
  z-index: 1;
  clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
}

.first {
  height: 30px;
  margin-right: 10px; /* Add some space between the logo and the text */
}

.second {
  font-size: 14px;
  margin: 0; /* Remove any default margins */
}

.detail-info-container {
  height: 480px;
}

@media (max-width: 576px) {
  ::ng-deep .google-map {
    .map-container {
      height: 400px !important;
      width: 280px !important;
    }
  }

  .centered-content {
    display: block;
  }

  .related-locations-card {
    width: 350px;
    height: 300px;
  }

.scrolling-wrapper-flexbox {
  display: block;
  flex-wrap: nowrap;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .card {
    flex: 0 0 auto;
  }
}
}

@media (min-width: 768px) {
  ::ng-deep .google-map {
    .map-container {
      height: 480px !important;
      width: 100% !important;
    }
  }

  .related-locations-card {
    width: 450px;
    height: 300px;
  }

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .card {
    flex: 0 0 auto;
  }
}
}

