<div class="container">
  <div class="row pt-2">
    <ng-container *ngFor="let location of nearbyLocations">
      <div class="col-md-4 col-sm-12 m-2 px-0 shop-info">
      <div class="d-flex justify-content-between align-items-center p-3">
        <div class="flex-shrink-0">
          <img src="{{ location.icon }}" class="img-fluid icon" alt="logo" />
        </div>
        <div class="flex-grow-1 ms-3 mx-2">
          <h6 class="d-inline">{{ location.name }}</h6><br/>
          <!-- <span><i class="fa fa-hotel me-2"></i>Hotel/Loging</span> -->
        </div>
        <span>{{ location.open_now ? "Open Now" : "Close" }}</span>
      </div>
      <div class="p-2 shop-extra-info">
        <span>Price Range: <span>{{ location.price_level ? location.price_level : '-' }}</span></span>
        <span>Rating: <span>{{ location.rating ? location.rating + '/5' : '-' }}</span></span>
      </div>
    </div>
    </ng-container>
  </div>
</div>
