<div class="container">
  <div class="row">
    <div class="card p-0 m-2">
      <p-menubar [model]="items"> </p-menubar>
    </div>
  </div>
  <div class="row pt-2">
    <ng-container *ngIf="showSpinner">
      <div class="d-flex justify-content-center my-5">
        <p-progressSpinner
          styleClass="w-4rem h-4rem"
          strokeWidth="8"
          fill="var(--surface-ground)"
          animationDuration=".5s"
        ></p-progressSpinner>
      </div>
    </ng-container>

    <ng-container *ngIf="filteredLocations.length == 0 && !showSpinner">
      <h3>No Result Found</h3>
    </ng-container>

    <ng-container *ngIf="!showSpinner">
      <ng-container *ngFor="let location of filteredLocations">
        <div
          class="col-md-4 col-sm-12 m-2 px-0 d-flex flex-column shop-info"
          (click)="showDetail(location.place_id)"
        >
          <div class="d-flex justify-content-between flex-fill p-3">
            <div class="flex-shrink-0">
              <img
                src="{{ location.icon }}"
                class="img-fluid icon"
                alt="logo"
              />
            </div>
            <div class="flex-grow-1 ms-3 mx-2">
              <h4 class="d-inline">{{ location.name }}</h4>
              <br />
              <span style="font-size: 11px"
                ><i class="fas fa-map-marker-alt me-1"></i>
                {{ location.vicinity }}</span
              >
            </div>
          </div>
          <div class="p-2 shop-extra-info">
            <span
              class="m-1"
              [ngStyle]="{ color: location.open_now ? '#2ccf6d' : 'gray' }"
              ><i class="fa fa-clock me-2"></i>
              {{ location.open_now ? "Open Now" : "Close" }}</span
            >
            <span class="m-1"
              ><i class="far fa-star me-2"></i>Rating:
              <span>{{
                location.rating ? location.rating + "/5" : "-"
              }}</span></span
            >
            <span *ngIf="location.price_level" class="m-1"
              >Price Range:
              <span>{{
                location.price_level ? location.price_level : "-"
              }}</span></span
            >
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="row">
    <div class="d-flex justify-content-center">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" (click)="resetLocations()"
              ><i class="fa-solid fa-house"></i
            ></a>
          </li>
          <li class="page-item">
            <a
              class="page-link"
              (click)="clickNextPage()"
              [class.disabled]="isLastPage"
              >Next</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<!-- location-list.component.html -->
